.button {
  outline: none;
  width: max-content;
  background-color: gray;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5 ease;
}

.button:hover {
  background-color: rgba(74, 74, 74, 0.5);
}
